
/*-------------------- ESTILOS DEL SECTION PRODUCTOS ---------------------*/

@import "../base/mapas";
@import "../base/mixin";
@import "../base/extends";

.productos{
    background-color: map-get($map: $coloresFondos, $key: color-secundario);

    h4{
        padding: 2em 1em 1em 1em;
        margin: 0em 1em 1em 1em;
        a{
            text-decoration: none;
            color: map-get($map: $coloresLetras, $key:color-principal)
        }
    }
}

.section-producto{
    h5{
        @extend %margen;
        a{
            text-decoration: none;
            color: map-get($map: $coloresLetras, $key:color-principal) 
        }
    }

    p{
        @extend %margen;
        text-align: justify;
    }

    img{
        width: 30%;
        margin: 1em 0em 1em 0em;
    }
}